# Visual Studio
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

# Build results
bin/
obj/

# Rider
.idea/

# NuGet
*.nupkg
# packages folder can be ignored because of PackageReference
packages/

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# Secret files
secrets.json

# Ignore Visual Studio workspace index files
**/FileContentIndex/
